<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Welcome to BCAMP Email Notifications</h2>
    <p>You have successfully signed up to receive notifications related to The Benicia Community Air Monitoring Program (BCAMP).</p>
    <p>We send notifications for the following pollutants: Benzene, Black Carbon, Ozone, PM2.5, Sulfur Dioxide, Toluene, Xylene.</p>
    <br/>
    <br/>
    <p><i><a href="<%= @url%>">click here to unsubscribe.</a></i></p>
  </body>
</html>
