/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#page {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#map-container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 90px;
  width: auto;
  height: auto;
}

#map {
  width: 100%;
  height: 100%;
}

#timeline-container {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: auto;
  height: 90px;
  width: auto;
  overflow-x: scroll;
  background-color: white;
}

#timeline {
  height: 100%;
  text-align: center;
  position: relative;
}

#timeline td {
  font-size: 14px;
  min-width: 55px;
  max-width: 55px;
}

#timeline-index {
  height: 70%;
}

#timeline-date td {
  color: rgb(30, 30, 30);
}

#calendar-btn {
  position: absolute;
  font-size: 11px;
  left: 9px;
  top: 72px;
  width: 50px;
  height: 50px;
  opacity: 0.75;
}

#home-btn {
  position: absolute;
  font-size: 11px;
  left: 9px;
  top: 9px;
  width: 50px;
  height: 50px;
  opacity: 0.75;
}

#legend-smell-value {
  position: absolute;
  font-size: 11px;
  right: 9px;
  top: 9px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #777777;
  border-radius: 2px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 1px;
}

#legend-smell-value td {
  font-size: 11px;
  width: 20px;
  height: 6px;
  text-align: center;
}

#legend-smell-value .smell-color-td {
  color: black;
  opacity: 0.9;
}

#calendar-description {
  margin-top: 0px;
  margin-bottom: 6px;
}

#dialog-ok-button {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background-image: none;
  background-color: #777777;
  color: white;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 7px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  width: 227px;
  height: 35px;
  border-radius: 3px;
  border: 0px;
}

#calendar {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 15px;
  width: 227px;
  margin-top: 5px;
  height: 35px;
}

.smell-color-1 {
  background-color: #00ff00;
}

.smell-color-2 {
  background-color: #f8e540;
}

.smell-color-3 {
  background-color: #da8800;
}

.smell-color-4 {
  background-color: #eb2667;
}

.smell-color-5 {
  background-color: #5f0e36;
}

.custom-button {
  background-color: white;
  color: black;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  outline: none;
  border: 1px solid #777777;
  border-radius: 2px;
  cursor: pointer;
}

.custom-button:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: white;
}

.custom-button:active {
  background-color: rgb(210, 210, 210);
}

.ui-icon-custom-home {
  background-image: url(/img/home.png);
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
}

.ui-icon-custom-calendar {
  background-image: url(/img/calendar.png);
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-td-button {
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: none;
  color: black;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  outline: none;
  border-radius: 0px;
  cursor: pointer;
  outline: none;
}

.custom-td-button:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.custom-dialog {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
  font-size: 16px !important;
  background-color: white !important;
  padding: 0 !important;
  border-radius: 3px !important;
  border: 1px solid #777777 !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 12px !important;
  padding-right: 10px !important;
}

.custom-dialog .ui-button {
  outline: none !important;
}

.custom-dialog .ui-dialog-titlebar {
  background-color: white !important;
  background-image: none !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  border: 0px !important;
  color: #2E2F30 !important;
  padding-top: 15px !important;
  padding-bottom: 10px !important;
}

.custom-dialog .ui-dialog-title {
  text-align: center !important;
  margin-left: 10px !important;
  font-size: 18px !important;
}

.custom-dialog .ui-dialog-titlebar-close {
  background-image: none !important;
  background-color: transparent !important;
  border-radius: 0px !important;
  border: 0px !important;
  opacity: 0.8 !important;
  margin-right: 12px !important;
  margin-top: -9px !important;
}

.custom-dialog .ui-dialog-buttonpane {
  border-width: 0 !important;
  padding-top: 0px !important;
}

.ui-widget-overlay {
  opacity: 0.6;
  background-image: none;
  background-color: black;
}

.selected-td-btn {
  box-shadow: 0px 0px 0px 6px #4d90fe inset;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}