#page {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#map-container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 75px;
  width: auto;
  height: auto;
}

#map {
  width: 100%;
  height: 100%;
}

#timeline-container {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: auto;
  height: 75px;
  width: auto;
  overflow-x: scroll;
  background-color: white;
}

#selected-day {
  text-align: left !important;
}

#terrain-btn {
  position: absolute;
  font-size: 11px;
  left: 9px;
  top: 121px;
  width: 45px;
  height: 45px;
  border-radius: 23px;
  opacity: 0.75;
}

#calendar-btn {
  position: absolute;
  font-size: 11px;
  left: 9px;
  top: 65px;
  width: 45px;
  height: 45px;
  border-radius: 23px;
  opacity: 0.75;
}

#home-btn {
  position: absolute;
  font-size: 11px;
  left: 9px;
  top: 9px;
  width: 45px;
  height: 45px;
  border-radius: 23px;
  opacity: 0.75;
}

#playback-btn {
  position: absolute;
  font-size: 11px;
  left: 9px;
  bottom: 25px;
  width: 45px;
  height: 45px;
  border-radius: 23px;
  opacity: 0.75;
}

#stop-btn {
  position: absolute;
  font-size: 11px;
  left: 9px;
  bottom: 81px;
  width: 45px;
  height: 45px;
  display: none;
  border-radius: 23px;
  opacity: 0.75;
}

#playback-txt {
  position: absolute;
  font-size: 39px;
  left: 64px;
  bottom: 23px;
  color: #494949;
  font-weight: 700;
  text-shadow: -2px 0 2px white, 0 2px 2px white, 2px 0 2px white, 0 -2px 2px white;
  display: none;
}

#legend-smell-value {
  pointer-events: none;
  position: absolute;
  font-size: 11px;
  right: 9px;
  top: 9px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #777777;
  border-radius: 2px;
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
}

#legend-smell-value td {
  font-size: 10px;
  margin: 0;
}

#legend-smell-value .smell-color-td {
  color: black;
  opacity: 0.9;
  min-width: 13px;
  max-width: 13px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: center;
}

#legend-smell-value .wind-arrow-td {
  color: black;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: 40px 15px;
}

#legend-smell-value .entry-title {
  text-align: left;
}

#legend-smell-value .aqi-tr {
  display: none;
}

#calendar-description {
  margin-top: 0px;
  margin-bottom: 6px;
}

#dialog-ok-button {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background-image: none;
  background-color: #777777;
  color: white;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 7px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  width: 227px;
  height: 35px;
  border-radius: 2px;
  border: 0px;
  outline: none;
  cursor: pointer;
}

#calendar {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 15px;
  width: 227px;
  margin-top: 5px;
  height: 35px;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.smell-color-1 {
  background-image: url("/img/smell_1.png");
}

.smell-color-2 {
  background-image: url("/img/smell_2.png");
}

.smell-color-3 {
  background-image: url("/img/smell_3.png");
}

.smell-color-4 {
  background-image: url("/img/smell_4.png");
}

.smell-color-5 {
  background-image: url("/img/smell_5.png");
}

.PM25-color-1 {
  background-image: url("/img/PM25_1_legend.png");
}

.PM25-color-2 {
  background-image: url("/img/PM25_2_legend.png");
}

.PM25-color-3 {
  background-image: url("/img/PM25_3_legend.png");
}

.PM25-color-4 {
  background-image: url("/img/PM25_4_legend.png");
}

.PM25-color-5 {
  background-image: url("/img/PM25_5_legend.png");
}

.voc-color-1 {
  background-image: url("/img/voc_1.png");
}

.voc-color-2 {
  background-image: url("/img/voc_2.png");
}

.voc-color-3 {
  background-image: url("/img/voc_3.png");
}

.voc-color-4 {
  background-image: url("/img/voc_4.png");
}

.voc-color-5 {
  background-image: url("/img/voc_5.png");
}

.wind-arrow {
  background-image: url("/img/wind_arrow.png");
}

.custom-button {
  background-color: white;
  color: black;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  outline: none;
  border: 1px solid #777777;
  border-radius: 2px;
  cursor: pointer;
}

.custom-button:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: white;
}

.custom-button:active {
  background-color: rgb(210, 210, 210);
}

.ui-icon-custom-home {
  background-image: url(/img/home.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.ui-icon-custom-calendar {
  background-image: url(/img/calendar.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.ui-icon-custom-terrain {
  background-image: url(/img/terrain.png);
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-position: center center;
}

.ui-icon-custom-play {
  background-image: url(/img/play.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.ui-icon-custom-pause {
  background-image: url(/img/pause.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.ui-icon-custom-stop {
  background-image: url(/img/stop.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-td-button {
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: none;
  color: black;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  outline: none;
  border-radius: 0px;
  cursor: pointer;
  outline: none;
}

.custom-td-button:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.custom-dialog {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
  font-size: 16px !important;
  background-color: white !important;
  padding: 0 !important;
  border-radius: 3px !important;
  border: 1px solid #777777 !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 12px !important;
  padding-right: 10px !important;
}

.custom-dialog .ui-button {
  outline: none !important;
}

.custom-dialog .ui-dialog-titlebar {
  background-color: white !important;
  background-image: none !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  border: 0px !important;
  color: #2E2F30 !important;
  padding-top: 15px !important;
  padding-bottom: 10px !important;
}

.custom-dialog .ui-dialog-title {
  text-align: center !important;
  margin-left: 10px !important;
  font-size: 18px !important;
}

.custom-dialog .ui-dialog-titlebar-close {
  font-size: 22px;
  top: 11px;
}

.ui-dialog-titlebar-close.ui-state-default {
  background: none;
  border: none;
  height: auto;
}

.ui-dialog-titlebar-close .ui-button-text {
  padding: 0;
  text-indent: 0;
}

.ui-dialog-titlebar-close .ui-icon-closethick {
  background: none;
}

.custom-dialog .ui-dialog-buttonpane {
  border-width: 0 !important;
  padding-top: 0 !important;
}

.ui-widget-overlay {
  opacity: 0.6;
  background-image: none;
  background-color: black;
}

.selected-td-btn {
  box-shadow: 0 0 0 6px #4d90fe inset;
}

.voc-legend-row {
  display: none;
}

.animation-infobox {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  border-radius: 2px;
  text-align: left;
  font-size: 11px;
  width: 250px;
  padding: 5px 8px 5px 8px;
  background-color: #ffffff;
}

.flat-block-chart .selected-block-no-color {
  box-shadow: 0px 0px 0px 5px rgb(0, 154, 255) inset !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.flat-block-chart .flat-block-chart-value {
  background-color: white !important;
}

/*.animation-infobox:after {
  content: " ";
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
  position: absolute;
  bottom: -8px;
  left: 92px;
}*/
