.custom-dialog-flat {
  font-size: 16px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: white;
  padding: 0;
  margin: 0;
  border-radius: 2px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.custom-dialog-flat .ui-dialog-content {
  padding: 0 1.2em 0 1.2em;
}

.custom-dialog-flat .ui-dialog-content p {
  margin: 0.6em 0;
}

.custom-dialog-flat .ui-dialog-content p:first-child {
  margin-top: 0;
}

.custom-dialog-flat .ui-dialog-content p:last-child {
  margin-bottom: 0;
}

.custom-dialog-flat .ui-dialog-titlebar {
  background-color: white;
  background-image: none;
  border: 0;
  border-radius: 0px;
  color: #2E2F30;
  padding: 1.2em 1.2em 1.2em 1.2em;
}

.custom-dialog-flat .ui-dialog-titlebar .ui-dialog-title {
  text-align: center;
  margin-left: 10px;
  font-size: 18px;
}

.custom-dialog-flat .ui-dialog-titlebar .ui-dialog-titlebar-close {
  background: white none;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1.2em;
  top: 1.2em;
}

.custom-dialog-flat .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-default {
  background: none;
  border: none;
  height: auto;
}

.custom-dialog-flat .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-button-text {
  padding: 0;
  text-indent: 0;
  font-family: sans-serif;
  line-height: 1;
  font-size: 25px;
  font-weight: 700;
}

.custom-dialog-flat .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon-closethick {
  background: none;
}

.custom-dialog-flat .ui-dialog-buttonpane {
  border-width: 0;
  margin: 0;
  padding: 1.2em 1.2em 1.2em 1.2em;
}

.custom-dialog-flat .ui-dialog-buttonpane .ui-button {
  border: 1px solid #7d7d7d;
  background: #7d7d7d none;
  color: white;
  border-radius: 2px;
  margin: 0 0 0 0.7em;
  outline: none;
}

.custom-dialog-flat .ui-dialog-buttonpane .ui-button:first-child {
  margin-left: 0;
}

.custom-dialog-flat .ui-dialog-buttonpane .ui-button.ui-action-button {
  background-color: #dc3545;
  border: 1px solid #dc3545;
}

.ui-widget-overlay {
  opacity: 0.6;
  background-image: none;
  background-color: black;
}
